$_64px: 4rem;
$_36px: 2.25rem;
$_30px: 1.875rem;
$_24px: 1.5rem;
$_18px: 1.125rem;
$_13px: 0.8125rem;
$_12px: 0.75rem;
$_15px: 0.9375rem;
$_70px: 4.375rem;
$_21px: 1.3125rem;
$_28px: 1.75rem;

$_gray-text: #6C7279;
$_white: #FFFFFF;
$_gray-line: rgba(186, 187, 197, 1);
$_red_line: rgba(231, 20, 20, 1);
$_red_bnormal: rgba(255, 67, 67, 1);
$_red_bhover: rgba(231, 20, 20, 1);